src/main/resources/wsdl/WSMiddleWare.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.creararequipa.com.pe/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.creararequipa.com.pe/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.creararequipa.com.pe/webservices">
      <s:element name="wmTransaccionVarias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tcCodTrx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcLlave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcIdenti" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tnMonto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="tcMoneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcIdSess" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcCodCli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcOfiLla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wmTransaccionVariasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wmTransaccionVariasResult" type="tns:clEntidadDeNegocioTransaccionResponseType" />
            <s:element minOccurs="0" maxOccurs="1" name="tcError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clEntidadDeNegocioTransaccionResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pcNroDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcFecMod" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wmTransaccionVariasSoapIn">
    <wsdl:part name="parameters" element="tns:wmTransaccionVarias" />
  </wsdl:message>
  <wsdl:message name="wmTransaccionVariasSoapOut">
    <wsdl:part name="parameters" element="tns:wmTransaccionVariasResponse" />
  </wsdl:message>
  <wsdl:portType name="WSMiddleWareSoap">
    <wsdl:operation name="wmTransaccionVarias">
      <wsdl:input message="tns:wmTransaccionVariasSoapIn" />
      <wsdl:output message="tns:wmTransaccionVariasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMiddleWareSoap" type="tns:WSMiddleWareSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmTransaccionVarias">
      <soap:operation soapAction="http://www.creararequipa.com.pe/webservices/wmTransaccionVarias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMiddleWareSoap12" type="tns:WSMiddleWareSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmTransaccionVarias">
      <soap12:operation soapAction="http://www.creararequipa.com.pe/webservices/wmTransaccionVarias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMiddleWare">
    <wsdl:port name="WSMiddleWareSoap" binding="tns:WSMiddleWareSoap">
      <soap:address location="http://localhost/WSMiddleWare/WSMiddleWare.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMiddleWareSoap12" binding="tns:WSMiddleWareSoap12">
      <soap12:address location="http://localhost/WSMiddleWare/WSMiddleWare.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>